<p id="notice"><%= notice %></p>

<h1 class="m-4">Articles</h1>


<div class="card mb-3 m-4" style="max-width: 670px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/emmy.jpg" width="225px" height="230px" alt="author_image">
    </div>

    <div class="col-md-8">
       <div class="card-body">
    <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Author: NSABIMANA Emmanuel</div>
  <div class="card-body">
    <h5 class="card-title">Please share your Article</h5>
    <p class="card-text">"Don’t let imposter syndrome keep you from getting what’s yours. Use “I feel” a lot instead of, “I think that”."</p>
  </div>
</div>
    <a href="#" class="btn btn-primary">Create New Article</a>
  </div>
    </div>
  </div>
</div>

<table class="m-4">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Content</th>
      <th>Likes</th>
      <th>Dislikes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.author %></td>
        <td><%= article.content %></td>
        <td><%= article.likes %></td>
        <td><%= article.dislikes %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
